* {

}

body{
  background-color: #e8dbd3;
}

.meat {
  color: #75474a;
}

#ingredients {

}

#intro img {
  width: 200px;
}

header, footer, main, div {
  background-color: white;
  border: black 1px solid
}

a {
  color: #aa7d7a;
}

header, main, footer {
  max-width: 800px;
}