* {

}

body{
  background-color: rosybrown;
}

.meat {

}

#ingredients {

}

#intro img {

}

header, footer, main, div {
  background-color: white;
  border: black 1px solid
}

a {
  color: brown;
}